<app-header [siteName] = "title"
            [userName] = "userInfo"
            (event)="show()">
</app-header>
<div [ngStyle]="{'display':'flex','flex-direction':'row'}">
<app-left-nav-bar [menu]="menu"></app-left-nav-bar>
<div [ngStyle]="{'position':'absolute','color':'red','margin':'25% 0 0 45%', 'font-size':'36px'}"
     *ngIf="greeting.show">
  {{greeting.text}}
</div>
  <button (click)="changeView()">Change view</button>
  <div class="data" *ngIf='!list;else listView' >
    <div  *ngFor="let item of data">
      <ng-container *ngIf="item.show">
        <div class="card">
          <div  [ngSwitch]="item.type">
            <img *ngSwitchCase="1" src="https://freepngimg.com/thumb/clothes/2-2-clothes-png-clipart.png"/>
            <img *ngSwitchCase="2" src="https://www.kindpng.com/picc/m/15-158815_t-shirt-front-short-orange-t-shirt-clip.png"/>
          </div>
        <div class="card-body">
          <h5 class="card-title">{{item.heading}}</h5>
          <p class="card-text">{{item.text}}</p>
          <p class="card-text">{{item.rating}}</p>
        </div>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-template #listView>
    <ul class="list">
      <li *ngFor="let item of data">
        <ng-container *ngIf="item.show">
          <div class="list-item">
            <img [src]="item.img">
            <h6>{{item.heading}}</h6>
            <span>{{item.text}}</span>
            <span>{{item.rating}}</span>
          </div>
        </ng-container>
      </li>
    </ul>
  </ng-template>
</div>

<app-footer [menu]="menu"></app-footer>
